.textGradient {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.title {
    text-align: center;
    margin-bottom: 5rem;
    font-size: xx-large;
    font-weight: 900;
}

@media only screen and (max-width: 600px) {
    .title {
      margin-bottom: 1rem;
      font-size:large;
    }
}
  