@import "tailwindcss";
/* Note: You may need to change the path to fit your project structure */
@config "../../tailwind.config.js";

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	font-family: "Rubik", sans-serif;
	box-sizing: border-box;
	@apply bg-white dark:bg-[#1b1a19];
}

.myFont {
	font-family: "Science Gothic", sans-serif;
}

.hero {
	@apply relative h-[94vh] w-full;
}

.hero > .hero-image {
	@apply h-full w-full object-cover object-center rounded-xl;
}

.hero > .hero-content {
	@apply absolute top-0 w-full h-full flex items-center justify-center md:pr-10 pr-0;
}

.container {
	@apply min-w-full lg:px-20 px-5 py-5 relative;
}

@media screen and (max-width: 768px) {
	.item {
		font-size: 10px;
	}
}

@media screen and (max-width: 550px) {
	.item {
		font-size: 12px;
	}
}

/* Stile di base del bottone */
.unique-button {
	@apply px-5 py-2 uppercase rounded-md text-[17px] font-medium text-white/50 bg-transparent cursor-pointer border border-white transition ease-in-out duration-500 select-none shadow-none;
}

/* Hover e focus */
.unique-button:hover,
.unique-button:focus {
	@apply text-white bg-[#431467] border-white shadow-[0_0_5px_#ffffff,0_0_10px_#ffffff,0_0_20px_#ffffff,0_0_5px_#431467,0_0_20px_#431467,0_0_50px_#431467,0_0_100px_#431467] scale-110;
}

/* Stato attivo */
.unique-button:active {
	@apply scale-80;
}

/* Animazione per il lampeggio con l'effetto hover */
@keyframes blinkHoverEffect {
	0% {
		transform: scale(1);
		border-color: white;
		box-shadow: none;
		opacity: 1;
	}

	50% {
		transform: scale(1.1); /* Ingrandimento */
		border-color: #431467; /* Colore bordo hover */
		box-shadow:
			0 0 5px #ffffff,
			0 0 10px #ffffff,
			0 0 20px #ffffff,
			0 0 5px #431467,
			0 0 20px #431467,
			0 0 50px #431467,
			0 0 100px #431467; /* Effetto hover */
		opacity: 1;
	}

	100% {
		transform: scale(1); /* Torna alla dimensione originale */
		border-color: white;
		box-shadow: none;
		opacity: 1;
	}
}

/* Applicare l'animazione quando non è in hover, con un ritardo di 5 secondi */
.unique-button:not(:hover) {
	animation: blinkHoverEffect 1s ease-in-out 20 5s; /* Lampeggia 3 volte con effetto hover dopo 5 secondi */
}

/* La proprietà `animation` funziona così:
   - `1s`: durata dell'animazione per ogni ciclo
   - `ease-in-out`: tipo di transizione
   - `3`: numero di cicli (in questo caso, 3 lampeggi)
   - `5s`: ritardo prima che l'animazione inizi (5 secondi) */
