@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.hero {
  @apply relative h-[94vh] w-full;
}

.hero > .hero-image {
  @apply h-full w-full object-cover object-center rounded-xl;
}

.hero > .hero-content {
  @apply absolute top-0 w-full h-full flex items-center justify-center md:pr-10 pr-0;
}

.container {
  @apply min-w-full lg:px-20 px-5 py-1 lg:mt-5 mt-1 relative;
}

.item {
  @apply flex items-center gap-2;
}

@media screen and (max-width: 768px) {
  .item {
    font-size: 10px;
  }
}

@media screen and (max-width: 550px) {
  .item {
    font-size: 12px;
  }
}

