@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  @apply bg-[#1b1a19] text-white relative; 
  box-sizing: border-box;
}

#title {
  background-image: url('/cover.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  #title {
    max-height: 150px;
  }
  .item {
    font-size: 10px;
  }
}

@media screen and (max-width: 550px) {
  #title {
    max-height: 100px;
  }
  .item {
    font-size: 12px;
  }
}

