.textGradient {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.copyright {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    right: 0;
    bottom: 0;
    left: 0;
}

@media only screen and (max-width: 600px) {
    .copyright {
        display: flex;
        position: static;
        justify-content: center;
    }
}